{% extends "base_site.html" %}



{% block content %}
<style>
    button {
        display: inline-block;
        color: red;
        border: 4px double #cccccc;
        padding: 10px;
        margin-bottom: 5rem;
        margin-top: 2rem;
        text-align: center;
    
    }
    button:hover {
        background-color:black;

    }
</style>





<div class="container">
    <div class="row">
        <div class="col-md-6">
<form method="post">
    {% csrf_token %} 
    {{ form }} 
   
    <button type="submit">Submit</button>     
</form>
</div>
</div>
</div>

    
{% endblock %}